@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
	<div class ="my-4">
		<h1>Hello, my dear teacher!</h1>
		<p>Welcome to my Blazor University app.</p>
</div>
<div class="my-4 flex">
	<a href="/students" class="btn btn-outline-primary">Go to Students Tab</a>
		<a href="/codeforces" class="btn btn-outline-secondary">Go to Codeforces Tab</a>
</div>
</div>